.WhatIsMain {
    display: flex;
    justify-content: center;
}

.WhatIsMain .WhatIsContent {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 4rem;
}

.WhatIsMain .WhatIsContent .WhatIs,
.HowItWorks,
.AboutPlataforms,
.HowWeHelp {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.WhatIsMain .TheFourPlataforms {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.WhatIsMain .TheFourPlataforms .AboutMeliuz,
.AboutCuponomia,
.AboutInterShop,
.AboutZoom {
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 1px solid transparent;
    gap: 1.5rem;
    padding-bottom: 1rem;
    transition: border 0.5s;
}

.WhatIsMain .TheFourPlataforms .PlataformDetails {
    display: flex;
    flex-direction: column;
}

.WhatIsMain .TheFourPlataforms .PlataformDetails span {
    padding: 0 1rem;
}

.WhatIsMain .TheFourPlataforms .AboutMeliuz .LogoMeliuz img {
    width: 85%;
    padding: 1rem 2rem 0 5rem;
}

.WhatIsMain .TheFourPlataforms .AboutMeliuz {
    -webkit-box-shadow: 0px 0px 10px -1px rgba(255, 142, 183, 1);
    -moz-box-shadow: 0px 0px 10px -1px rgba(255, 142, 183, 1);
    box-shadow: 0px 0px 10px -1px rgba(255, 142, 183, 1);
}

.WhatIsMain .TheFourPlataforms .AboutMeliuz:hover {
    border: 1px solid #ff8eb7;
}

.WhatIsMain .TheFourPlataforms .AboutCuponomia .LogoCuponomia img {
    width: 100%;
    padding: 1rem 3rem 0 3rem;
}

.WhatIsMain .TheFourPlataforms .AboutCuponomia {
    -webkit-box-shadow: 0px 0px 10px -1px rgba(66, 164, 13, 1);
    -moz-box-shadow: 0px 0px 10px -1px rgba(66, 164, 13, 1);
    box-shadow: 0px 0px 10px -1px rgba(66, 164, 13, 1);
}

.WhatIsMain .TheFourPlataforms .AboutCuponomia:hover {
    border: 1px solid #42a40d;
}

.WhatIsMain .TheFourPlataforms .AboutInterShop {
    -webkit-box-shadow: 0px 0px 10px -1px rgba(255, 153, 0, 1);
    -moz-box-shadow: 0px 0px 10px -1px rgba(255, 153, 0, 1);
    box-shadow: 0px 0px 10px -1px rgba(255, 153, 0, 1);
}

.WhatIsMain .TheFourPlataforms .AboutInterShop:hover {
    border: 1px solid #ff9900;
}

.WhatIsMain .TheFourPlataforms .AboutInterShop .LogoInterShop img {
    width: 125%;
    padding: 1.5rem 3.5rem 0 0;
}

.WhatIsMain .TheFourPlataforms .AboutZoom {
    -webkit-box-shadow: 0px 0px 10px -1px rgba(97, 42, 146, 1);
    -moz-box-shadow: 0px 0px 10px -1px rgba(97, 42, 146, 1);
    box-shadow: 0px 0px 10px -1px rgba(97, 42, 146, 1);
}

.WhatIsMain .TheFourPlataforms .AboutZoom:hover {
    border: 1px solid #612a92;
}

.WhatIsMain .TheFourPlataforms .AboutZoom .LogoZoom img {
    width: 80%;
    padding: 0.8rem 1rem 0 5rem;
}

.WhatIsMain .TheFourPlataforms .PlataformDetails span:nth-child(2),
span:nth-child(3) {
    margin-top: 1rem;
}
